body {
    font-family: 'ArcadeClassic', sans-serif;
    text-align: center;
}

/*--------------- Scoreboard --------------- */
.results {
    font-size: 100px;
}
span {
    display: block;
}
.score {
    font-size: 50%;
}


/*--------------- Selections --------------- */

.rock, .paper, .scissors {
    display: inline-block;
    margin: 150px 50px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
}